
/* header */
header {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Georgia;
    background-color: rgba(134, 135, 136, 0.152);
}

.head-logo {
    padding: 10px;
    height: 180px;
    width: 180px;
    border-bottom: 2px solid #333;
    margin: auto;
}

/* nav menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 15px;
    padding: 75px 0px;
    font-size: 18px;
    font-family: Georgia, sans-serif;
}

.nav-links li {
    position: relative;
}

.nav-links li:not(:first-child)::before {
    content: "";
    display: block;
    height: 28px; 
    width: 3px;
    background-color: #333; 
    position: absolute;
    left: -15px; 
    top: 50%;
    transform: translateY(-50%);
}

nav a:active {
    color: #333;
  }

  nav a:hover {
    color: #87CEEB;
  }
  
  nav a {
    color: #FF4500;
    text-decoration: underline;
  }
  /* main heading */
h1 {
    font-size: 30px;
    padding: 65px 0px;
    margin-right: 400px;
    color: #87CEEB;
}

/*intro container section*/

/*home page intro container */
.intro-container {
    display: flex;
    border: 3px solid #333;
    margin: 20px 30px;
    background-color: #87CEEB;
}


/*home page image and text */
#home-dog-img {
    height: 640px;
    width: 590px;
    margin-left: 50px;
    border-left: 3px solid #333;
}

.title {
    text-align: left;
    padding: 80px 5px 1px 60px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 28px;
}

div h3 {
    text-align: left;
    font-family: Georgia;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 5px 1px 80px;
}

div h4 {
    padding: 20px 5px 1px 80px;
    font-weight: normal;
    font-size: 16px;
    font-family: Verdana;
}

/* home page action buttons */
.home-buttons {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    padding: 50px 75px;
}

button {
    width: 120px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(84, 137, 31, 0.499);
    border: 3px solid rgba(134, 135, 136, 0.744);
    border-radius: 8px;
}

button h3 {
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*stats section */ 
 h2 {
    font-family: Georgia;
    font-weight: normal;
    text-align: center;
    font-size: 28px;
    margin: 20px;
    padding: 50px;
}

/*stat boxes */
.stats-container {
    display: flex;
    gap: 20px; /* Space between stat boxes */
    justify-content: center;
}

.stat-box {
    display: flex;
    align-items: center;
    padding: 20px;

}

/*icon design*/
.stat-box i {
    font-size: 60px;
    margin-right: -40px;
}

/* stat text */
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h3, .text h4 {
    margin: 0;
    line-height: 0.5;
}

.text h3 {
    font-size: 24px;
    font-weight: bolder;
}

.text h4 {
    font-size: 16px;
    color: #000;
}

/* heart stat */
.heart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    position: relative;
    width: 100px; /* Adjust size as needed */
    height: 90px; /* Adjust size as needed */
    background-color: #000; /* Black color */
    transform: rotate(-45deg);
    margin: 20px;
}

.heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background-color: #000; /* Black color */
    border-radius: 50%;
}

.heart::before {
    top: -50px; /* Adjust position as needed */
    left: 0;
}

.heart::after {
    top: -10px;
    left: 45px; /* Adjust position as needed */
}

.heart h3 {
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 16px;
    text-align: center;
    margin: 0;
    z-index: 1;
    font-family: Georgia;
    position: absolute;
    left: 35%;
    top: 1px;
    bottom: 15px;
    color: white;
    white-space: nowrap;
    font-weight: 600;
}

/* black heart donate link */
 .stat-box button {    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
    position: absolute;
}

/* partners section */
.partners-container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #333;
    justify-content: space-between;
    margin: 20px;
    position: relative;
    font-family: Georgia;
    background-color: rgba(134, 135, 136, 0.152);
}

/* border around partners text */
.border {
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    border-left: 3px solid #333;
    border-bottom: none; /* No border at the bottom */
    margin-bottom: -20px;
    text-align: left;
    padding: 60px;
    background-color: #87CEEB;
  }
  
/*images in partner-container */
.partner {
    flex: 1 0 12%;
    padding: 5px;
    position: relative;
} 

/*footer */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(134, 135, 136, 0.152);
}

#foot-logo {
    padding: 10px;
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.footer-container h3 {
    font-family: Georgia;
    margin-left: -80px;
    color: #87CEEB;
}

.footer-info {
    margin: auto;
    text-align: center;
}

.footer-info h4 {
    font-family: verdana;
    display: block;
    margin-left: -120px;
    margin-top: -20px;
    margin-bottom: -15px;;
}

.footer-container a {
    color: #FF4500;
    text-decoration: underline;
}

.copyright {
    display: block;
    float: right;
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
}

.logo-text-container {
    display: flex;
    align-items: center;
}

@media (max-width: 1440px) {
    header h1 {
        margin-right: 150px;
    }

    header {
        justify-content: space-around;
}

}

@media (max-width: 1024px) {

    header {
        flex-direction: column;
        align-items: center;
    }    header h1 {
        margin-right: 150px;
    }

    header {
        justify-content: space-around;
}

    .intro-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 850px) {

    header {
        flex-direction: column;
        align-items: center;
    }    
    header h1 {
        margin-right: 150px;
    }

    header {
        justify-content: space-around;
}
}

@media (max-width: 675px) {

    header {
        flex-direction: column;
        align-items: center;
    }    
    header h1 {
        margin-right: 150px;
    }

    header {
        justify-content: space-around;
}

#home-dog img {
    width: auto;
}

.stats-container {
    flex-direction: column;
    align-items: center;
}

.footer-container {
    flex-direction: column;
    gap: 15px;
}
}

@media (max-width: 450px) {

    header {
        flex-direction: column;
        align-items: center;
    }    
    header h1 {
        margin-right: 150px;
    }

    header {
        justify-content: space-around;
}
}

@media (max-width: 375px) {

header {
    align-items: center;
}

.intro-container {
    margin: 0;
    align-items: center;
    width: auto;
}

.home-buttons {
    flex-direction: column;
    gap: 15px;
}

#home-dog-img {
    width: 300px;
    height: auto;
}

div h3 {
    font-size: 20px;
    padding: 15px;
}

.stats-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.heart h3 {
    left: 75%;
    top: 15px;
}

.footer-container {
    flex-direction: column;
    gap: 15px;
}
}